{{#each this}}
<li class="country-item">
    <img class="country-item__img" src="{{flags.svg}}" alt="{{name.official}}" width="60">
    <p class="name-country">{{name.official}}</p>
</li>

{{/each}}