* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #c4ffd1;
  line-height: 1.5;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101, 0, 94, 1) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgba(255, 25, 25, 1) 98%);
  animation: gradient 35s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

h1,
h2,
li,
p {
  font-family: 'Ubuntu Mono', monospace;

}

li {
  list-style-type: none;

}

p {
  margin: auto 10px;
}

#search-box {
  font: inherit;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  font-weight: 700;
  display: block;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  max-width: 320px;
  color: #15ff00;
  border: transparent;
  background-color: rgba(26, 3, 44, 0.267);
  box-shadow: 6px 7px 15px 1px rgba(49, 7, 58, 0.301);
  margin-bottom: 60px;
}



#search-box:focus {
  outline: 1px solid rgba(36, 1, 39, 0.295);
}

.form__group {
  position: relative;
}

.title {
  text-align: center;
}

.input-country {
  margin-left: auto;
  margin-right: auto;
}

.country-symbols__img {
  display: block;
  border-radius: 10px;
}

.country-item__img {
  border-radius: 6px;
}

.country-symbols {
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-name {
  margin-left: 10px;
  font-size: 30px;
  color: #15ff00;
}

.country-list-div {
  padding: 0;
}

.country-list-div__item {
  text-align: center;
  margin-bottom: 8px;
  font-size: 25px;

}

.li-bottom {
  padding-bottom: 25px;
}

.bold {
  margin-right: 4px;
  font-weight: bold;
  color: #9eca00;
}

.country-item {
  display: flex;
  align-items: center;
}

.country-list {
  padding-left: auto;
  padding-right: auto;
  margin: 0 auto;
}

.country-info {
  margin: 0 auto;
  background-color: rgba(6, 0, 12, 0.247);
  box-shadow: 6px 7px 15px 1px rgba(42, 4, 51, 0.192);
  backdrop-filter: blur(5px);
  padding: 0;
  border-radius: 35px;
  width: 600px;
}

.name-country {
  font-size: 22px;
  font-weight: 700;
}

.country-item:not(:last-child) {
  margin-bottom: 15px;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}